<!DOCTYPE html>

<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>

    <button class="color-picker">Change Color</button>
    <button class="home-btn"> <a href="/">Home</a> </button>

    <main class="book-log-wrap">
      <h1>Chapter Log</h1>
      <form action="#">
        <!-- <section class="double-line">
          <div class="label-input-pair">
            <label for="title">Chapter Title:</label>
            <input type="text" name="title" />
          </div>

          <div class="label-input-pair">
            <label for="author">Author:</label>
            <input type="text" name="author" />
          </div>
        </section> -->
        <section class="double-line">
          <div class="label-input-pair">
            <label for="chapter-title">Chapter Title:</label>
            <input type="text" name="chapter-title" />
          </div>

          <div class="label-input-pair">
            <label for="chapter-number">Chapter Number:</label>
            <input type="number" name="chapter-number" />
          </div>
        </section>

        <section class="single-line">
          <div class="label-input-pair">
            <label for="summary">Summary:</label>
            <textarea name="summary" rows="6"></textarea>
          </div>
        </section>

        <!-- <section class="double-line">
          <div class="label-input-pair">
            <label for="first-main-character">Main Character 1:</label>
            <input type="text" name="first-main-character" />
          </div>
          <div class="label-input-pair">
            <label for="first-character-description">
              Character Description:
            </label>
            <textarea name="first-character-description" rows="5"></textarea>
          </div>
        </section> -->
        <!-- <section class="double-line">
          <div class="label-input-pair">
            <label for="second-main-character">Main Character 2:</label>
            <input type="text" name="second-main-character" />
          </div>
          <div class="label-input-pair">
            <label for="second-character-description">
              Character Description:
            </label>
            <textarea name="second-character-description" rows="5"></textarea>
          </div>
        </section> -->

        <section class="double-line">
          <div class="radio-group">
            <h4>Did you meet any new characters?</h4>

            <div class="radio-options">
              <label for="yes">Yes</label>
              <input id="yes" type="radio" name="new-character" value="yes" />

              <label for="no">No</label>
              <input id="no" type="radio" name="new-character" value="no" />
            </div>
          </div>

          <!-- <div class="radio-group">
            <h4>Was the twist expected?</h4>

            <div class="radio-options">
              <label for="yes">Yes</label>
              <input id="yes" type="radio" name="plot-twist" value="yes" />

              <label for="no">No</label>
              <input id="no" type="radio" name="plot-twist" value="no" />
            </div>
          </div> -->
        </section>

        <section class="single-line">

          <div class="label-input-pair">
            <label for="new-character-description">Name and describe each new character:</label>
            <textarea name="new-character-description" rows="6"></textarea>
          </div>

        </section>

        <section class="single-line">

          <div class="label-input-pair">
            <label for="chapter-feeling">Describe how you felt after finishing this chapter, and why:</label>
            <textarea name="chapter-feeling" rows="6"></textarea>
          </div>

        </section>

        <section class="single-line">

          <div class="label-input-pair">
            <label for="character-progression">Describe how you think the main character progressed in this chapter (ie, did they learn a lesson, achieve a goal, or have an eye opening moment?)</label>
            <textarea name="character-progression" rows="6"></textarea>
          </div>

        </section>

        <section class="single-line">

          <div class="label-input-pair">
            <label for="prediction">Based on what you know so far, make an inference about what will happen in the following chapter:</label>
            <textarea name="prediction" rows="6"></textarea>
          </div>

        </section>

        <!-- <section class="single-line">

          <div class="label-input-pair">
            <label for="end-feelings">Describe how you felt after finishing this book:</label>
            <textarea name="end-feelings" rows="6"></textarea>
          </div>

        </section> -->

        <section class="rating-wrap">
          <h4>How would you rate this chapter?</h4>
          <div class="rating">
            <p> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> <span class="star">&#x2BC1;</span> </p>
          </div>
        </section>

        <button class="submit-log">Submit Log</button>

      </form>

    </main>

    <script src="/Javascript/star-rating.js"></script>
    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>
