<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <button class="color-picker">Change Color</button>
    <button class="home-btn"> <a href="/">Home</a> </button>

    <div class="choose-log-wrap">
      <h1>Okay,</h1>
      <h3>What kind of log would you like to complete?</h3>

      <div class="btn-wrap">
        <a href="/logs/bookLog"><button class="btn">Full Book Log</button></a>
        <a href="/logs/chapterLog"><button class="btn">Chapter Log</button></a>
      </div>
    </div>

    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>