<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <button class="color-picker">Change Color</button>
    <button class="home-btn"><a href="/">Home</a></button>

    <main class="search-wrap">
      <div class="search-btn-group">
        <input class="search-book-input" type="text" placeholder="Search..." />
        <button class="btn search-book-btn">Search</button>
      </div>

      <section class="book-group">

        <!-- <div class="single-book">
                <img src="#" alt="" class="book-cover">
                <h3 class="book-title">Title</h3>
            </div> -->
        <!-- <div class="single-book">
                <img src="#" alt="" class="book-cover">
                <h3 class="book-title">Title</h3>
            </div>
            <div class="single-book">
                <img src="#" alt="" class="book-cover">
                <h3 class="book-title">Title</h3>
            </div>
            <div class="single-book">
                <img src="#" alt="" class="book-cover">
                <h3 class="book-title">Title</h3>
            </div> -->
      </section>
    </main>

    <script src="/Javascript/searchBook.js"></script>
    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>
