<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <button class="color-picker">Change Color</button>

    <div class="intro-wrap">
      <h1>Welcome To Your Booklog</h1>
      <h3>What would you like to do?</h3>

      <div class="btn-wrap">
        <a href="/logs"><button class="btn">Log Book</button></a>
        <a href="/findBook"><button class="btn">Find Book</button></a>
        <a href="/viewLibrary"><button class="btn">View My Library</button></a>
      </div>
    </div>

    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>
