<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <button class="color-picker">Change Color</button>
    <button class="home-btn"><a href="/">Home</a></button>

    <section class="personal-library-wrap">
      <h1>Your Library</h1>
    </section>

    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>
